*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: pink;
}

.botones {
    display: flex;
    flex-direction: row; /* Ensures items are positioned side by side */
    justify-content: space-around;
    align-items: center; /* Ensures items are aligned in the center vertically */
}

.boton {
    display: flex;
    flex-direction: column; /* Ensures items inside .boton are aligned in a column */
    width: 250px;
}

.boton li{
    list-style: none;
}

.boton a { 

    height: 250px;
    width: 250px;
    background-color: grey;
    text-decoration: none;
}