<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="https://kit.fontawesome.com/fdd969b1c6.js" crossorigin="anonymous"></script>
    

    <!-- AQUI VA EL DELETE -->


</head>

<body>
    
    <h1>KanjiDB</h1>

        <div class="botones">
            <div class="button-effect boton">
                <a class="effect effect-4" href="all">TODO</a>
            </div>
            
            
            <form class="search-box" action="/kanji" method="GET">
                <button type="submit" class="btn-search"><i class="fas fa-search"></i></button>
                <input type="text" name="kanji" class="input-search" placeholder="Buscar Kanji...">
            </form>

            <div class="boton">
                <ul>
                    <li class="listado">
                        <a href="#0">DIFICULTAD </a>
                        <ul>
                            <a href="/nivel?nivel=N5"><li>N5</li></a>
                            <a href="/nivel?nivel=N4"><li>N4</li></a>
                            <a href="/nivel?nivel=N3"><li>N3</li></a>
                            <a href="/nivel?nivel=N2"><li>N2</li></a>
                            <a href="/nivel?nivel=N1"><li>N1</li></a>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="botones">
          <div class="boton">
            <div class="formulario">
              <form action="/add" method="POST" id="add-kanji-form">
                <h2>Insertar nuevo kanji</h2>
        
                <div>
                  <label for="kanji">Kanji</label>
                  <input type="text" id="kanji" name="kanji" required>
                </div>
                <div>
                  <label for="tipo">Tipo</label>
                  <select id="tipo" name="tipo" required>
                    <option value="">Selecciona uno</option>
                    <option>Verbo transitivo</option>
                    <option>Verbo intransitivo</option>
                    <option>Adjetivo i</option>
                    <option>Adjetivo na</option>
                    <option>Sustantivo</option>
                  </select>
                </div>
                <div>
                  <label for="onyomi">Lectura onyomi</label>
                  <input type="text" id="onyomi" name="onyomi" required>
                </div>
                <div>
                  <label for="kunyomi">Lectura kunyomi</label>
                  <input type="text" id="kunyomi" name="kunyomi" required>
                </div>
                <div>
                  <label for="significado">Significados (separados por coma)</label>
                  <input type="text" id="significado" name="significado" required>
                </div>
                <div>
                  <label for="nivel_jlpt">Nivel</label>
                  <select id="nivel_jlpt" name="nivel_jlpt" required>
                    <option value="">Selecciona nivel</option>
                    <option>N5</option>
                    <option>N4</option>
                    <option>N3</option>
                    <option>N2</option>
                    <option>N1</option>
                  </select>
                </div>
        
                <div>
                  <label for="frase">Frase de ejemplo</label>
                  <textarea id="frase" name="frase" rows="3" required></textarea>
                </div>
        
                <div>
                  <label for="traduccion">Significado de la frase (opcional)</label>
                  <input type="text" id="traduccion" name="traduccion">
                </div>
                <button type="submit">Guardar kanji</button>
              </form>
            </div>
          </div>
        </div>
    
    <div class="botones">
      <form id="delete-kanji-form" class="search-box" action="/eliminar" method="POST">
        <button type="submit" class="btn-search"><i class="fa-solid fa-x"></i></button>
        <input type="text" name="kanji" class="input-search" placeholder="Eliminar Kanji...">
      </form>
    </div>
    

    <!--
    ROADMAP

    - Una opción de con un botón ir a la ruta /all para mostrar toda la info existente V
    - Un buscador para buscar toda la info de un kanji determinado V
    - Botones para buscar todos los kanjis de una determianada dificultad (De N5 a N1) V
    - Una opción para insertar un nuevo kanji (Que te ponga un formulario en el que se te pida: 
        El kanji en texto
            - Si es: Verbo transitivo, verbo intransitivo, adjetivo i, adjetivo na o sustantivo
            - Lectura onyomi y lectura kunyomi (No hace falta que entiendas que son, solo pon esos dos campos)
            - Significados separados por ,
            - Nivel (N5-N1)
            - Una frase de ejemplo, y de manera opcional su significado)
    - Una opción para borrar un kanji escribiendolo en texto
    
    -->

</body>
<script src="{{ url_for('static', filename= 'js/script.js') }}"></script>
</html>
